<!doctype html>
<html lang="en">

    <head>

        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="title" content="Smart Irrigation">
        <meta name="author" content="olirowan">
        <meta name="description" content="An overkill solution from not wanting to water the plants manually.">
        <meta name="keywords" content="flask, python, socketio, owm, kubernetes, rpi, raspberry pi, solenoid valve, smart irrigation, irrigation, water plants, devops" />
        <link rel="canonical" href="https://olirowan.xyz">

        <!-- Fontawesome -->
        <link type="text/css" href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

        <!-- Volt CSS -->
        <link type="text/css" href="/static/assets/css/volt.css" rel="stylesheet">
        <link type="text/css" href="/static/assets/css/project-specific.css" rel="stylesheet">

        <!-- Favicon Updated -->
        <link rel="icon" type="image/svg+xml" href="/static/assets/img/plantlogo.svg">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}

        <title>Smart Irrigation</title>
        {% endblock %}
        <link type="text/css" href="/static/assets/css/volt.css" rel="stylesheet">
        <link type="text/css" href="/static/assets/css/project-specific.css" rel="stylesheet">

    </head>

    <body>

        <!-- Your page content -->
        {% block content %}{% endblock %}

        {% block scripts %}
            <!-- Optional JavaScript -->
            {% include 'includes/scripts.html' %}
            {{ bootstrap.load_js() }}
        {% endblock %}

    </body>
</html>