body,html {
  height: 100%;
}

.bg-soft {
  /* background-image: linear-gradient(to right bottom, #20202c, #3b404d, #576270, #768794, #97adb8, #a3bbc7, #b0cad5, #bdd9e4, #b7d2e0, #b1ccdc, #acc5d7, #a7bed3) !important; */
  background-image: linear-gradient(to right bottom, #20202c, #2e3342, #3a485a, #475f71, #537687, #5e8495, #6a92a2, #76a1b0, #82a8b9, #8eafc2, #9bb7cb, #a7bed3) !important;
}

.bg-primary {
  background-color: #20202C !important;
}

.border-black {
  border-color: #e9b25d !important;
}

.card {
  background-color: #F7F5FB !important;
}

.btn-primary {
  color: #ffffff;
  background-color: #20202C;
  border-color: #262B40;
}

.btn-primary:hover {
  color: #e9b25d;
  background-color: #20202C;
  border-color: #262B40;
}

.btn-secondary {
  color: #262B40;
  background-color: #FFBC42;
  border-color: #FFBC42;
}

.sidebar .nav-item .nav-link:hover {
  color: #333;
  background-color: #e9b25d;
}

.sidebar .nav-link .sidebar-icon {
  color: #e9b25d;
}

.sidebar .nav-link:hover .sidebar-icon {
  color: #333;
  background-color: #e9b25d;
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out, border-color 0.5s ease-in-out;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.progress {
    width: 100%;
    text-align: center;
    height: 40px;
    margin-bottom: 1rem;
    overflow: hidden;
    border-radius: 0.1rem;
    background-color: #F7F5FB;
    font-size: 0.75rem;
    font-weight: 600;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.bg-info {
  background-color: #2E5266 !important;
}

.col-centered{
  float: none;
  margin: 0 auto;
}