{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<main class="content">

    {% include 'includes/navigation.html' %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    </div>

    <button class="btn btn-primary mb-4" id="start-bg-job">Start Watering</button>
    <div id="progress" class="mb-4"></div>

    <div class="row justify-content-md-center">
        <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-light shadow-sm">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div
                            class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">

                            <div class="icon icon-shape icon-md icon-shape-blue rounded mr-4 mr-sm-0"><span><i
                                        class="{{ weather_icon }}"></i></span></div>

                            <div class="d-sm-none">
                                <h2 class="h5">Weather</h2>
                                <h3 class="mb-1">{{ weather.detailed_status|title }}</h3>
                            </div>

                        </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <div class="d-none d-sm-block">
                                <h2 class="h5">Weather</h2>
                                <h3 class="mb-1">{{ weather.detailed_status|title }}</h3>
                            </div>
                            <small>{{ current_date.strftime('%a %d %b %H:%M') }}</small>
                            <div class="small mt-2">
                                <span class="icon icon-small">
                                    <span class="fas fa-globe-europe"></span>
                                </span> {{ current_user.city }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-4 mb-4">

        </div>
        <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <!-- <div class="card border-light shadow-sm">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div
                            class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                            <div class="icon icon-shape icon-md icon-shape-secondary rounded mr-4"><span
                                class="fas fa-seedling icon-success"></span></div>
                        </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <h2 class="h5 mb-3">Irregation System</h2>
                            <h6 class="font-weight-normal text-gray"><span id="socketStatusIcon"
                                    class="icon w-20 icon-xs icon-danger mr-1"><span class="fas fa-plug"></span></span>
                                <span id="socketStatusText">Socket: Disconnected</span>
                            </h6>
                            <h6 class="font-weight-normal text-gray"><span
                                    class="icon w-20 icon-xs icon-info mr-1"><span id="waterStatusIcon" class="fas fa-tint-slash"></span></span>
                                <span id="waterStatusText">System: Idle</span>
                            </h6>
                            <h6 class="font-weight-normal text-gray"><span
                                    class="icon w-20 icon-xs icon-primary mr-1"><span
                                        class="fas fa-mobile-alt"></span></span> Watering </h6>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>

    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.min.js"></script>
    <script>

        function emit_water_plants() {

            namespace = '/test';
            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
            socket.emit('shorttask')
            display_water_progress()
        }

        function display_water_progress() {

            div = $('<div id="displayWaterProgress" class="progress">\
                        <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" style="min-width: 20px;"></div>\
                    </div>');

            var element = document.getElementById('displayWaterProgress');

            if (element == null) {
                $('#progress').append(div);

                document.getElementById("start-bg-job").disabled = true;
                document.getElementById("waterStatusIcon").classList.remove('fa-tint-slash');
                document.getElementById("waterStatusIcon").classList.add('fa-tint');
                document.getElementById("waterStatusText").innerHTML = "System: Watering"
            }

            namespace = '/test';
            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

            socket.on('short_response', function (reponse) {

                var myJSON = JSON.parse(JSON.stringify(reponse));
                update_line_progress(myJSON, div[0]);

            });
        }

        function update_line_progress(myJSON, status_div) {

            percent = parseInt(myJSON['current'] * 100 / parseInt(myJSON['total']));
            $(".progress-bar").css("width", percent + "%").text(percent + " %");

            $(status_div.childNodes[1]).text("Watering: " + percent + '%');

            if (myJSON['status'] == 'Done') {

                $(status_div.childNodes[1]).text("Completed");
                setTimeout(function () {
                    $('#progress').empty();
                }, 2500);
                setTimeout(function () {
                    document.getElementById("start-bg-job").disabled = false;
                    document.getElementById("waterStatusIcon").classList.remove('fa-tint');
                    document.getElementById("waterStatusIcon").classList.add('fa-tint-slash');
                    document.getElementById("waterStatusText").innerHTML = "System: Idle"
                }, 2500);

            }
        }

        $(document).ready(function () {

            namespace = '/test';
            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

            socket.on('connect', function () {
                socket.emit('connection', { connection_confirmation: 'Socket: Connected' });

            });

            socket.on('confirmation', function (data) {
                var confir_str = data.connection_confirmation;
                connection_status = '<span class="icon w-20 icon-xs icon-success mr-1"><span class="fas fa-plug"></span></span>' + confir_str
                document.getElementById("socketStatusIcon").classList.remove('icon-danger');
                document.getElementById("socketStatusIcon").classList.add('icon-success');
                document.getElementById("socketStatusText").innerHTML = confir_str
            });

            socket.on('short_response', function (reponse) {

                display_water_progress();
            });

            $(function () {
                $('#start-bg-job').click(emit_water_plants);
            });
        });

    </script>

    {% include 'includes/footer.html' %}

</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}